@import "../../stylus/color.styl"
@import "../../stylus/common.styl"

.loginInContainer 
    width: 6rem;
    height: 4.65rem;
    margin: 0 auto;
    margin-top: 1.92rem;

.am-list-item.am-input-item 
    textVerticalCenter(1.31rem)

.am-list-item .am-input-control input, .am-list-item .am-input-label 
    font-size: $fontSize7;

.am-list-item, .am-list-item .am-list-line, .am-list-item.am-input-item 
    padding: 0;

.inputClass 
    border-bottom: 1px solid #b8b8b8;

.am-list-item .am-input-label 
    color:$color4;

.forgetItem 
    height: 0.98rem;
    & >a
        float: right;
        textVerticalCenter(0.98rem)
        color: $color3

.commonBtn 
    textVerticalCenter(1.01rem)
    font-size: 0.33rem;
    color: $color2;
    background-color: $color1;