.am-tab-bar-bar .am-tab-bar-tab-title
    font-size: $fontSize9;

.iconClass
    width: 0.42rem;
    height: 0.42rem;

.footerBar
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 2;

.footerBar .am-tab-bar-bar
    height: 1.07rem;