@import "../../stylus/color.styl"
@import "../../stylus/font.styl"
@import "../../stylus/common.styl"

.buyerPic>img
    width: 1.51rem;
    height: 1.51rem;
    margin: 0 0.18rem 0.18rem 0;

.buyerPic>img:last-child 
    margin-right: 0rem;

.evaluateCon .buyerContent
    font-size: $fontSize10;
    line-height: 0.25rem;
    color: $color5;
    margin-bottom: 0.13rem;

.evaluateCon .sellerContent
    padding: 0.13rem 0.15rem 0.12rem 0.1rem;
    font-size: 0.18rem;
    line-height: 0.25rem;
    color: $color3;
    background: $color7;
    border-radius: 0.12rem;

.evaluateCon .nickName
    float: left;
    font-size: $fontSize5;
    color: $color1;

.evaluateCon .addTime
    float: right;
    font-size: 0.14rem;
    color: $color5;

.itemTop 
    textVerticalCenter(0.62rem)

.evaluateCon>.item
    padding-bottom: 0.18rem;
    border-bottom: 0.02rem solid $color7;

.evaluateCon>.item:last-child
    border-bottom: none;