@import "../../stylus/color.styl"
@import "../../stylus/font.styl"
@import "../../stylus/common.styl"

.mineQuickMenuItem
    position: relative;
    background-color: $color2;
    & >li
        textVerticalCenter(1.28rem)
        & >a
            display: block;
            font-size: $fontSize1;
            color: $color4;
            text-indent: 0.97rem;
    