@import "../../stylus/color.styl"
@import "../../stylus/common.styl"

.avatarBox 
    position: relative;
    top: 0;
    left: 0;
    height: 2.29rem;
    background-color: $color1;
    & >div
        position: absolute;
        top: 0.95rem;
        left: 50%;
        z-index: 1;
        width: 2.07rem;
        height: 2.07rem;
        background-color: $color2;
        transform: translateX(-50%);
        border-radius: 50%;

.nickName
    position: absolute;
    top: 3.25rem;
    z-index: 1;
    width: 100%;
    text-align: center;
    color: $color4;
    font-size: 0.31rem;
    textVerticalCenter(0.31rem)

.unLogin
    background-color: #e6dfdf;

.avatar
    elePositionCenter()
    width: 1.81rem;
    height: 1.81rem;
    border-radius: 50%;