$fontSize1 = 0.3rem;
$fontSize2 = 0.28rem;
$fontSize3 = 0.26rem;
$fontSize4 = 0.27rem;
$fontSize5 = 0.23rem;
$fontSize6 = 0.24rem;
$fontSize7 = 0.29rem;
$fontSize8 = 0.25rem;
$fontSize9 = 0.22rem;
$fontSize10 = 0.2rem;
