@import "../../stylus/color.styl";

.navBar 
    height: 0.94rem;
    color: $color2;
    z-index: 2;

.am-navbar-light 
    background-color: $color1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    & .am-navbar-title
        color: $color2;
        font-size: 0.33rem;
        
.am-navbar-right 
    font-size: 0.33rem;
    margin-right: 0.28rem;

.iconClass 
    font-size: 0.42rem;

.am-navbar-left 
    padding-left: 0.34rem;
    